@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;800;900&display=swap');

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-position: 20px 10px;
  background-image: url(./header-shapes\ mobile.png);
  background-size: cover;
  background-position-y: 40px;
  background-position-x: 0;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 25px;
}

.logo-container p {
  color: rgb(15, 15, 204);
  font-weight: 600;
}

.main-body {
  margin: 25px;
  margin-top: 60px;
}

.icons-title h3 {
  font-size: 18px;
  margin-top: 10px;
  font-weight: 300;
  color: rgb(11, 66, 247);
}

.paragraph h1 {
  color: rgb(17, 17, 94);
  margin-bottom: 15px;
}

.paragraph p {
  line-height: 28px;
}

.pictures ul {
  list-style: none;
  display: flex;
}

.pictures ul li {
  margin-right: 10px;
  margin-top: 10px;
}

i {
  color: rgb(32, 28, 87);
  font-size: 20px;
}

.bars-container i {
  color: rgb(13, 13, 197);
}
